html,body{margin: 0px; border: 0px; padding: 0px; box-sizing: border-box; height: 100%; } 
a{ cursor: pointer; text-decoration: none; }

#container{
    position: relative;  
    margin: auto;
    height: 100%;
    width: 80%;
}
#navbar{
	position: relative;
	width: 100%;
	z-index: 99;
    background: rgba(0, 0, 50, 0.7);
}
	#navbar a{
        padding: 10px 0;
        width: 33.3%;
        float: left;
        
		text-align: center;
        font: 16px Arial, Sans-serif;
        color: rgba(200, 200, 200, 1);
        background: rgba(50, 50, 50, 1);
		transition: background 1s;
    }
	#navbar a:hover{
		transition: background 1s;
		background: rgba(100, 100, 100, 0.7);
		color: white;
    }
#content{
        position: relative;
        margin: auto;
        min-height: 100%;
        width: 100%;
        padding: 100px 0px;
        color: gray;
        background: url("assets/images/apple_mouse.jpg") no-repeat fixed;
        background-size: cover;
        animation: 4s fadein;
        transition: color 1s;
}
#content:hover{
        transition: color 1s;
        color: white;
}
	#content_1{
        animation: fadein 5s;    
        position: relative;
        padding: 50px;
        margin: auto;
        width: 80%;

        text-align: center;
		color: rgba(150, 150, 150, 1);
        font: 16px Sans-serif;
        background: rgba(50, 10, 10, 0.6);
        transition: background 1s;
    }
    #content_1:hover{
        transition: background 1s;
        background: rgba(50, 10, 10, 0.8);
    }
        .main-button{
            margin: 50px auto 0 auto;
	    	height: 35px;
            width: 20%;
    		cursor: pointer;	
	    	color: rgb(150, 150, 150);
    		font-family: Sans-serif, Times; 
    		background: rgba(50, 50, 50);
    		transition: background 1s, color 1s; 
    		border: 1px solid white;
        }
		.main-button:hover{
    		transition: background 1s, color 1s; 
    		background: rgba(100, 100, 100, 0);
            color: white;
		}
		.input-box{
    		height: 25px;
   			width: 25%;
		}
		.login{
			position: relative;
			width: 35%;
			padding: 25px 0px 0px 0px;
			color: rgba(100, 100, 100, 1);
			font: 16px sans-serif;
        }
    #output{
        position: relative;
        padding: 50px;
        margin: auto;
        height: 100%;
        width: 80%;
        color: lightgray;
        font: 12px Courier, Arial;
        background: rgba(50, 25, 25, 0.6);
        transition: color 2s, background 1s;
    }
    #output:hover{
        color: white;
        transition: color 2s, background 1s;
        background: rgba(50, 25, 25, 0.8);
    }

@keyframes fadein{
    from{ opacity: 0; }
    to  { opacity: 1; }
}



